@main("Test Flixster 3rd Party Authentication") {
	<form id="loginform" class="form-horizontal" action="http://lockerstaging8.flixster.com/login-window/" method="GET">
		<fieldset>
		<legend>Sample Login for 3rd Party Flixster Application</legend>
		
		<div class="control-group">
			<label class="control-label" for="login">Login Type:</label>
			<div class="controls">
				<select name="loginType">
					<option value="FLX" disabled>Flixster</option>
					<option value="GGL">Google Plus</option>
					<option value="FBK" disabled>Facebook</option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="expireTimeInMinutes">Token Length</label>
			<div class="controls">
				<select name="expireTimeInMinutes">
					<option value="30">30 minutes</option>
					<option value="240">4 hours</option>
					<option value="1440">1 day</option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls"><button type="submit" class="btn">Login or Sign up</button></div>
		</div>
		
		<input type="hidden" name="redirectUrl" value="http://bryan4.flixsteroffice.com:9000/parseUser/" />
		</fieldset>
	</form>
	<script src="@routes.Assets.at("javascripts/loginform.js")" type="text/javascript"></script>
}